body{
    background-color: black;
    color: white;
}

.left{
    width: 25px;
}

.right{
    width: 75px;
}

.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.library{
    min-height: 80vh;
    position: relative;
}

.footer{
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
}

.buttons>* {
    margin: 0 12px;
}

.signupbtn{
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn{
    background: white;
    color: black;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
}